{{#link-to "posts"}}Visit the posts page{{/link-to}}
<div>
  <h4>This is the random post:</h4>
  <p>Posts.randomPost: {{controllers.posts.randomPost.primary_content}}</p>
  <p>Post.randomPost: {{application.randomPost.primary_content}}</p>
  <p>randomPost: {{randomPost.primary_content}}</p>
  <p>this: <code>{{this}}</code></p>
  <p>{{controllers.posts}}</p>
</div>