<div class="posts-listing">
  <ul>
  {{#each post in controller}}
    <li>
      <p>{{post.primary_content}}</p>
      {{#if post.sourceNote}}
        <p><b>Note:</b> <i>{{post.sourceNote}}</i></p>
        <a target="_blank" {{bindAttr href="post.sourceUrl"}}>{{post.sourceTitle}}</a>
      {{/if}}
      <div>Posted {{#link-to "post" post}}{{formatDate creationDate}}{{/link-to}}</div>
    </li>
  {{else}}
    <li>
      <p>ack! no posts.</p>
    </li>
  {{/each}}
  </ul>

  {{outlet}}

</div>